server {
    listen 443 ssl;
    listen [::]:443 ssl;
    http2 on;
    server_name {{SERVER_NAMES}};
    root {{ROOT}};
    index index.php;
{{AUTH_BLOCK}}
    ssl_certificate     /etc/letsencrypt/live/{{BASE_DOMAIN}}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{BASE_DOMAIN}}/privkey.pem;

    location / { try_files $uri $uri/ /index.php?$query_string; }
    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/{{NAME}}.sock;
    }
    location ~ /\.(?!well-known) { deny all; }
}
server {
    listen 80;
    listen [::]:80;
    server_name {{SERVER_NAMES}};
    return 301 https://$host$request_uri;
}
